<h1>Add new evaluation</h1>


<form id="evaluationForm">
Date: <input type="text" name="date"></br>
<input type="hidden" value="<%= @batchId %>" name="batchId">
<input type="hidden" value="<%= @studentId %>" name="studentId">

  <button class="score button red" type="submit" name="name" id="red">
  <button class="score button orange" type="submit" name="name" id="orange">
  <button class="score button green" type="submit" name="name" id="green">

</form>
