<h1><%= @student.name %><h1>


<% @evaluations.each do |evaluation| %>
  <p> <div class="score <%=evaluation.score %>"></div><%= evaluation.score %>, <%= evaluation.date.strftime("%e %B, %Y") %></p>
<% end %>
