/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: 'Catamaran', sans-serif;
 }

 a:link, a:visited {
   color: #45494f;
   text-decoration: none;
 }
 a:hover {
   color: #2a3cc1;
 }

 // .header-container {
 //   flex: 1;
 //   display: flex;
 //   flex-wrap: wrap;
 // }

 .heading {
   font-size: 400%;
   font-style: bold;
   text-align: left;
 }

 .red {
   background-color: #ba1616;
 }

 .orange {
   background-color: #e28204;
 }

 .green {
   background-color: #258e12;
 }

 .no-score {
   background-color: #656e7c;
 }
