// Place all the styles related to the Evaluations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.calender {
  width: 300px;
  display: inline-grid;
  // grid-gap: 10px;
  // grid-template-columns: repeat(7, 30px);
  // grid-template-rows: repeat(2, auto);
  // padding: 10px;
  grid-template-areas:
  "header"
  "content";
}

.content {
  grid-area: content;
  display: inline-grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 30px);
  grid-template-rows: repeat(2, auto);
  padding: 10px;
}

.day {
  background-color: #444;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 40%;
}

.weekday {
  background-color: inherit;
  color: #444;
  padding: 5px;
}

.header {
  grid-area: header;
  padding-left: 10px;
}
